<!-- <div class="main-content">
  <div class="container-fluid">


    <div *ngIf="E1FloorPlan">

      <div class="row">
  
        <div class="row">
          <div class="col-md-12">
            <div class="parent">
              <img src="assets/img/E1.png" class="image1">
              <span *ngFor="let layer of E1Layers">
                <img *ngIf="layer.isVisible" [src]="layer.imagePath" class="layers">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="E2FloorPlan">

      <div class="row">

        <div class="row">
          <div class="col-md-12">
            <div class="parent">
              <img src="assets/img/E2.png" class="image1">
              <span *ngFor="let layer of E2Layers">
                <img *ngIf="layer.isVisible" [src]="layer.imagePath" class="layers">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="E3FloorPlan">

      <div class="row">

        <div class="row">
          <div class="col-md-12">
            <div class="parent">
              <img src="assets/img/E3.png" class="image1">
              <span *ngFor="let layer of E3Layers">
                <img *ngIf="layer.isVisible" [src]="layer.imagePath" class="layers">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div> -->