.parent {
    position: relative;
    top: 0;
    left: 0;
}

// Main Floor Plan
.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

// Images on Top (Red)
.layers {
    position: absolute;
    width: 100%;
    top: 1px;
    left: 1px;
    opacity: 20%;
}