<div class="row ">
    <div class="">
        <mat-card class="col-lg-3" style="background-color: rgba(255, 255, 255, 0);">
            <mat-card-header>
                <mat-card-title><p style="font-size: 15px; text-align: center;"><b style="text-align: center;">Total Artifacts</b></p></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p style="text-align: center;">{{totalArtifacts | number}}</p>
            </mat-card-content>

        </mat-card>
        <mat-card class="col-lg-3" style="background-color: rgba(255, 255, 255, 0);">
            <mat-card-header> 
                <mat-card-title><p style="font-size: 15px; text-align: center;"><b style="margin: 0 auto;">Total Weight</b></p></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <p style="text-align: center;">{{ totalWeight | number }} grams</p>
            </mat-card-content>

        </mat-card>


    <div class="">
        <mat-card class="col-lg-3" style="background-color:rgba(255, 255, 255, 0);">
            <mat-card-header>
                <mat-card-title><p style="font-size: 15px; text-align: center;"><b style="margin: 0 auto;">Total Types</b></p></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <p style="text-align: center;">{{totalTypes| number}}</p>
            </mat-card-content>

        </mat-card>
        <mat-card class="col-lg-3" style="background-color: rgba(255, 255, 255, 0);">
            <mat-card-header>
                <mat-card-title><p style="font-size: 15px; text-align: center;"><b style="margin: 0 auto;">Total Fabrics</b></p></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <p style="text-align: center">{{totalFabrics | number}}</p>
            </mat-card-content>

        </mat-card>  
    </div>

</div>