<div class="row ">
    <div class="">
        <mat-card class="col-lg-3">
            <mat-card-header>
                <mat-card-title>Total Artifacts</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{totalArtifacts}}
            </mat-card-content>

        </mat-card>
        <mat-card class="col-lg-3">
            <mat-card-header>
                <mat-card-title>Total Weight </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    {{totalWeight}}
            </mat-card-content>

        </mat-card>


    <div class="">
            <mat-card class="col-lg-3">
                    <mat-card-header>
                        <mat-card-title>Total  Types</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                            {{totalTypes}}
                    </mat-card-content>
        
                </mat-card>
                <mat-card class="col-lg-3">
                    <mat-card-header>
                        <mat-card-title>Total  Fabrics</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                            {{totalFabrics}}
                    </mat-card-content>
        
                </mat-card>
       
    </div>

</div>