.menuContainer{
    border: 1px solid blue;
    // margin-left: 2.5%;
    // margin-right: 2.5%;
    height: 40px;
}
.siteSelectorContainer , .siteLabel{

    height: 100%;
}
.siteLabel{
top:25%;
margin-right: 25px;
}
