
<div class="container-fluid">

    <div>
        <div class="btn-group btn-group-justified" style="padding-bottom: 10px;">
            <a class="btn btn-primary" (click)="toggleScreens('input')"
                [ngClass]="{'active-btn': visibleTab === 'input'}"
                style="border: 1px solid white; background-color: #4b4b4b; color: white;">INPUT</a>
            <a class="btn btn-primary" (click)="toggleScreens('offlineDB')"
                [ngClass]="{'active-btn': visibleTab === 'offlineDB'}"
                style="border: 1px solid white; background-color: #4b4b4b; color: white;">OFFLINE DB RECORDS</a>
            <a class="btn btn-primary" (click)="toggleScreens('onlineDB')"
                [ngClass]="{'active-btn': visibleTab === 'onlineDB'}"
                style="border: 1px solid white; background-color: #4b4b4b; color: white;">ONLINE DB RECORDS</a>
        </div>
    </div>

   

    <div class="row" *ngIf="visibleTab === 'input'">
        <!-- <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Elephantine Processing Details</h4>
                </div>
                <div class="content">
                    <form [formGroup]="ceramicsForm" (ngSubmit)="submitForm(ceramicsForm.value)">
                        <div class="row">
                 
                            <div class="col-md-3">
                                <div class="form-group"
                                    [ngClass]="{'has-error' : !ceramicsForm.controls['locusNumber'].valid && ceramicsForm.controls['locusNumber'].touched}">
                                    <label>Locus Number</label>
                                    <input class="form-control" formControlName="locusNumber" placeholder="#####" />

                                    <span class="help-block"
                                        *ngIf="!ceramicsForm.controls['locusNumber'].valid && ceramicsForm.controls['locusNumber'].touched">
                                        Uh-oh! This is required. Select One.
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4"
                            [ngClass]="{'has-error' : !ceramicsForm.controls['numberOfObjects'].valid && ceramicsForm.controls['numberOfObjects'].touched}">
                            <div class="form-group">
                                <label>Number of Objects</label>
                                <input type="text" maxlength="4" class="form-control" placeholder="1"
                                    formControlName="numberOfObjects">
                                <span class="help-block" 
                                    *ngIf="!ceramicsForm.controls['numberOfObjects'].valid && ceramicsForm.controls['numberOfObjects'].touched">
                                    Uh-oh! Required Field
                                </span>
                            </div>
                        </div>
                            

                            <div class="col-md-3">
                                <div class="form-group"
                                    [ngClass]="{'has-error' : !ceramicsForm.controls['objectGroupNumber'].valid && ceramicsForm.controls['objectGroupNumber'].touched}">
                                    <label>Object Group Number</label>
                                    <input type="text" class="form-control" placeholder="1"
                                        formControlName="objectGroupNumber">
                                    <span class="help-block"
                                        *ngIf="!ceramicsForm.controls['objectGroupNumber'].valid && ceramicsForm.controls['objectGroupNumber'].touched">
                                        Uh-oh! Enter One number only.
                                    </span>
                                </div>
                            </div>



                            <div class="col-md-2">
                                <div class="form-group"
                                    [ngClass]="{'has-error' : !ceramicsForm.controls['objectNumber'].valid && ceramicsForm.controls['objectNumber'].touched}">
                                    <label for="exampleInputEmail1">Object Number</label>
                                    <input type="text" class="form-control" maxlength="2" placeholder="1"
                                        formControlName="objectNumber">
                                    <span class="help-block"
                                        *ngIf="!ceramicsForm.controls['objectNumber'].valid && ceramicsForm.controls['objectNumber'].touched">
                                        Uh-oh! Numbers only!
                                    </span>
                                </div>
                            </div>
                        </div>

       
                        <div class="row"
                            *ngIf="!ceramicsForm.controls['locusNumber'].valid && ceramicsForm.controls['locusNumber'].touched
                           
                            || !ceramicsForm.controls['objectGroupNumber'].valid && ceramicsForm.controls['objectGroupNumber'].touched
                            || !ceramicsForm.controls['objectNumber'].valid && ceramicsForm.controls['objectNumber'].touched">
                            <div class="col-md-12 alert">
                                <div class="alert alert-danger" role="alert">
                                    <p
                                        *ngIf="!ceramicsForm.controls['locusNumber'].valid && ceramicsForm.controls['locusNumber'].touched">
                                        <b>Locus Number</b> is a Required Field. Select a Locus Number from the drop
                                        down list.</p>
            
                                    <p 
                                        *ngIf="!ceramicsForm.controls['objectGroupNumber'].valid && ceramicsForm.controls['objectGroupNumber'].touched">
                                        <b>Object Group Number</b> is a Required Field with a minimum of ONE character.
                                        e.g. 1, 2, 3</p>
                                    <p
                                        *ngIf="!ceramicsForm.controls['objectNumber'].valid && ceramicsForm.controls['objectNumber'].touched">
                                        <b>Object Number</b> is a NOT required but can only be TWO NUMERIC characters.
                                        e.g. 1, 22, 13</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Type Family</label>
                                    <select class="form-control" placeholder="O.A1" (change)="onFamilySelect($event.target.value)" formControlName="typeFamily">
                                        <option [value]="type.family" *ngFor="let type of ceramicFamilyTypes" >{{type.family}}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-2">
            
                                    <label>Type Number</label>
                                    <div class="example-wrapper">
                                        <input type="text" class="form-control" disabled [value]="selectedValue" formControlName="typeNumber">
        
           
                                    </div>
                                </div>
                                <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Variants</label>
                                            <div class="example-wrapper">
                                                <input type="text" class="form-control" maxlength="2" placeholder="1"
                                                    formControlName="typeVariant">
                                            </div>
                                        </div>
                                    </div>
                        </div>

            


                        <div class="row" *ngIf="ceramicsForm.value.typeFamily">
                                <small style="margin-left: 15px;">Please Select one of the following images...</small>
                            <div id="container">
                                <img style="border: 2px solid black; width: 400px;" *ngFor="let item of familyImages" [src]="getImage(item)" (click)="onSelectImage(item)" />
                              </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Type Description</label>
                                    <textarea rows="3" class="form-control" placeholder="Here can be your description" [value]="typeDescription"
                                        formControlName="typeDescription"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row"
                            *ngIf="!ceramicsForm.controls['typeDescription'].valid && ceramicsForm.controls['typeDescription'].touched ">
                            <div class="col-md-12 alert">
                                <div class="alert alert-danger" role="alert">
                                    Type Description is a Required Field with a minimum of FIVE characters
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Weight (g)</label>
                                    <input type="number" class="form-control" placeholder="1.5"
                                        formControlName="weight">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fabric</label>
                                    <select type="text" class="form-control" placeholder="NSI" formControlName="fabric">
                                        <option>NSI</option>
                                        <option>NSII</option>
                                        <option>NSII+</option>
                                        <option>NSIII</option>
                                        <option>NSV</option>
                                        <option>MI</option>
                                        <option>MII</option>
                                        <option>MIII</option>
                                        <option>Other Marl</option>
                                        <option>Other</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ware</label>
                                    <select type="text" class="form-control" placeholder="NSI" formControlName="ware">
                                        <option>Coarse</option>
                                        <option>Medium</option>
                                        <option>Fine</option>
                                        <option>Marl</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fabric Variant</label>
                                    <input type="text" class="form-control" placeholder="s"
                                        formControlName="fabricVariant" />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Diameter</label>
                                    <input type="number" class="form-control" placeholder="" formControlName="diameter">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Preservation</label>
                                    <input type="number" class="form-control" placeholder="1"
                                        formControlName="preservation">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>SF Coating</label>
                                    <select type="text" class="form-control" placeholder="uncoated"
                                        formControlName="sfCoating">
                                        <option>Uncoated</option>
                                        <option>Red Slip In</option>
                                        <option>Red Slip Out</option>
                                        <option>Red Slip Both</option>
                                        <option>Cream Slip In</option>
                                        <option>Cream Slip Out</option>
                                        <option>Cream Slip Both</option>
                                        <option>Black Slip In</option>
                                        <option>Black Slip Out</option>
                                        <option>Black Slip Both</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SF Treatment</label>
                                    <select type="number" class="form-control" placeholder=""
                                        formControlName="sfTreatment">
                                        <option>None</option>
                                        <option>Polished</option>
                                        <option>Burnished</option>

                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Blackened</label>
                                    <select type="text" class="form-control" placeholder="int"
                                        formControlName="blackened">
                                        <option>None</option>
                                        <option>Interior</option>
                                        <option>Exterior</option>
                                        <option>Both</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Incised Decoration</label>
                                    <select type="text" class="form-control" placeholder=""
                                        formControlName="incisedDecoration">
                                        <option>None</option>
                                        <option>Lines</option>
                                        <option>Wavy</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Application</label>
                                    <select type="text" class="form-control" placeholder=""
                                        formControlName="application">
                                        <option>None</option>
                                        <option>Kernos</option>
                                        <option>Spout</option>
                                        <option>Knob</option>
                                        <option>Tubular</option>
                                        <option>Handle</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Painted Decoration</label>
                                    <select class="form-control" placeholder="Here can be your description"
                                        formControlName="paintedDecoration">
                                        <option>None</option>
                                        <option>Red Rim Band</option>
                                        <option>Black Rim Band</option>
                                        <option>White Rim Band</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Comments</label>
                                    <textarea rows="5" class="form-control" placeholder="Here can be your description"
                                        formControlName="comments"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Processed By</label>
                                    <input type="text" class="form-control" placeholder="int"
                                        formControlName="processedBy">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Process Date</label>
                                    <input type="date" class="form-control" (value)="todaysDate"  placeholder=""
                                        formControlName="processDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Entered By</label>
                                    <input type="text" class="form-control" placeholder="" formControlName="enteredBy">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Entered Date</label>
                                    <input type="date" class="form-control" placeholder=""
                                        formControlName="enteredDate">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>RL Number</label>
                                    <input type="number" class="form-control" placeholder="int"
                                        formControlName="rlNumber">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sheet Number</label>
                                    <input type="number" class="form-control" placeholder="int"
                                        formControlName="sheetNumber">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input [disabled]="!ceramicsForm.valid" type="submit"
                                    class="btn btn-info btn-fill btn-block" value="SAVE">
                            
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div> -->

    </div>

    <div class="row" *ngIf="visibleTab === 'offlineDB'">

    </div>

    <div class="row" *ngIf="visibleTab === 'onelinDB'">

    </div>
</div>
