<!-- Selector for the Site -->
<app-main-dash-menu></app-main-dash-menu>
<mat-card class="col-sm-12 col-md-6 col-lg-4">
  <mat-card-header>
    Site Map
  </mat-card-header>
  <mat-card-content>
    <app-site-map></app-site-map>
  </mat-card-content>

</mat-card>


<mat-card class="col-sm-12 col-md-6 col-lg-4">

  <mat-card-header>
    Hello

  </mat-card-header>
  <mat-card-content>
    Content
  </mat-card-content>

</mat-card>

<mat-card class="col-sm-12 col-md-6 col-lg-4">

  <mat-card-header>
    Hello

  </mat-card-header>
  <mat-card-content>
    Content
  </mat-card-content>

</mat-card>