<kendo-chart (seriesHover)="onSeriesOver($event)">
  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item [categories]="['Coarse','Medium', 'Fine']">
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-series>
    <kendo-chart-series-item type="bar" name="Interior" [stack]="{ type: '100%' }" [data]="panel2interior">
    </kendo-chart-series-item>
    <kendo-chart-series-item type="bar" name="Exterior" [data]="panel2exterior">
    </kendo-chart-series-item>
    <kendo-chart-series-item type="bar" name="Null" [data]="panel2null">
    </kendo-chart-series-item>
    <kendo-chart-series-item type="bar" name="Int / Ext" [data]="panel2both">
    </kendo-chart-series-item>
  </kendo-chart-series>
  <kendo-chart-tooltip>
    <ng-template kendoChartSeriesTooltipTemplate let-category="category" format="0" let-value="value">
     <h5> {{ value  }} - {{percentage}}</h5>
    </ng-template>
  </kendo-chart-tooltip>
</kendo-chart>