agm-map {
    /* height: 400px; */
    margin-top:60px;
    height: 96.5%; 
    width: 100%; 
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);
}

.dialog-details-container {
  border: 1px solid red;
  height: 400px;
}