
<!-- TOP CONTROLS, TOGGLE BETWEEN INPUT AND DB VIEW -->
<div>
  <div class="btn-group btn-group-justified" style="padding-bottom: 10px;">
    <a class="btn btn-primary" (click)="toggleScreens('input')" [ngClass]="{'active-btn': visibleTab === 'input'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">INPUT</a>
    <a class="btn btn-primary" (click)="toggleScreens('offlineDB')" [ngClass]="{'active-btn': visibleTab === 'offlineDB'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">OFFLINE DB RECORDS</a>
    <a class="btn btn-primary" (click)="toggleScreens('onlineDB')" [ngClass]="{'active-btn': visibleTab === 'onlineDB'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">ONLINE DB RECORDS</a>
  </div>
</div>

<!-- FORM BODY -->
<div *ngIf="visibleTab === 'input'">
  <form id="mainForm">
      <!-- TAGNUMBER, DATE, ENTERED BY, PROCESSING TYPE FIELDS -->
      <div>

        <div>
          <label style="font-size: 10px !important;">Tag Number</label>
        </div>
    
        <!-- Tag Number -->
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <div [ngClass]="{'has-error': tagNumberContextHasError}">
              <label for="tagNumberContext" style="font-size: 10px !important">Context</label>
              <input 
                class="form-control"
                name="tagNumberContext"
                id="tagNumberContext"
                type="text" 
                [value]="tagNumberContext" 
                (keypress)="restrictTagChars($event)"
                (keyup)="onTagChange($event)"
                required 
                maxlength="8"
                placeholder="47501A/a">
                <span class="help-block" *ngIf="tagNumberContextHasError">Please correct the error</span>
            </div>  
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <div>
              <label for="tagNumberGroupNumber" style="font-size: 10px !important">Object Group Number</label>
              <input 
                class="form-control"
                name="tagNumberGroupNumber"
                id="tagNumberGroupNumber"
                type="text" 
                [value]="tagNumberGroupNumber" 
                (keyup)="onTagNumberGroupChange($event)"
                required 
                minlength="1"
                placeholder="1-2-2">
            </div>  
          </div>
          
        </div>

        <!-- Line -->
        <div style="border: 1px solid #dadada; margin-top: 20px"></div>

        <!-- House and Room Number -->
        <div class="row" style="margin-top: 7px;">
          <div class="col-md-6">
            <div class="form-group">
              <label style="font-size: 10px !important">House Number</label>
              <select class="form-control" (change)="onHouseNumberRoomNumberChange($event, 'house')" [value]="selectedHouseNumber">
                <option [value]="option.value" *ngFor="let option of houseNumberOptions" >{{option.name}}</option>
            </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label style="font-size: 10px !important">Room Number</label>
              <select class="form-control"  (change)="onHouseNumberRoomNumberChange($event, 'room')" [value]="selectedRoomNumber">
                <option [value]="option.value" *ngFor="let option of roomNumberOptions">{{option.name}}</option>
            </select>
            </div>
          </div>
        </div>

        <!-- Line -->
        <div style="border: 1px solid #dadada; margin-bottom: 10px"></div>
      
        <div>
          <label style="font-size: 10px !important;">Deposit Date</label>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <label for="date2" style="font-size: 10px !important">Broad Date</label>
            <select class="form-control" id="sel2" (change)="onDepositDateChange($event, 'broad')" [value]="selectedBroadDate">
              <option [value]="option.value" *ngFor="let option of broadDateOptions" >{{option.name}}</option>
            </select>   
          </div>

          <div class="col-md-6 col-sm-6">
            <label for="date3" style="font-size: 10px !important">Detailed Date</label>
            <select class="form-control" id="sel3" (change)="onDepositDateChange($event, 'detailed')" [value]="selectedDetailedDate">
              <option [value]="option.value" *ngFor="let option of detailedDateOptions" >{{option.name}}</option>
            </select>   
          </div>
        </div>

        <!-- Line -->
        <div style="border: 1px solid #dadada; margin-top: 20px"></div>
      
        <div class="row" style="margin-top: 7px;">
          <div class="col-md-6 col-sm-6 col-lg-6">
            <label for="processedBy" style="font-size: 10px !important">Procesed By</label>
            <input 
            autocomplete="on"
            name="processedBy"
            id="processedBy"
            class='form-control' 
            type="text" 
            [value]="processedBy" 
            (keyup)="onProcessedByChange($event)"
            required placeholder="Processed By">
          </div>
  
          <div class="col-md-6 col-sm-6 col-lg-6">
            <label for="date" style="font-size: 10px !important">Processed On</label>
            <input 
              id="date"
              autocomplete="on"
              name="date"
              class='form-control' 
              type="date" 
              [value]="dueDate" 
              [ngModel]="dueDate | date:'yyyy-MM-dd'"
              (change)="onDueDateChange($event)"
              required 
              placeholder="Due Date">
          </div>
        </div>
      
        <div class="form-group" style="padding-top: 5px;">
          <label for="sel1" style="font-size: 10px !important">Processing Type</label>
          <select class="form-control" id="sel1"  [value]="isBasicVisible ? 'basic' : 'detailed'" (change)="onProcessingTypeChange($event.target.value)">
            <option value="basic">Basic Processing</option>
            <option value="detailed">Detailed Processing</option>
          </select>
        </div>
    
      </div>
    
      <!-- FORM BODY FOR SUB-FORMS -->
      <div class="row" *ngIf="isFormBodyVisible" style="margin-top: -30px">
      
        <div *ngIf="isBasicVisible">
          <div style="text-align: center"><h4>Elephantine Basic Processing</h4></div>
          <app-basic-processing></app-basic-processing>
        </div>
    
        <div *ngIf="!isBasicVisible">
          <div style="text-align: center"><h4>Elephantine Detailed Processing</h4></div>
          <app-detailed-ele-processing></app-detailed-ele-processing>
        </div>
      
      </div>

            <!-- ON FORM SUBMIT BUTTON -->
    <input type="submit" form="mainForm"  [disabled]="!isElephantineFormValid" class="btn btn-info btn-fill btn-block" (click)="onFormSubmit('save')" [value]="buttonValue">

    <!-- ON FORM CANCEL BUTTON -->
    <input *ngIf="isEditing" type="button" form="mainForm"  class="btn btn-secondary btn-fill btn-block" (click)="onCancelEdit()" value="CANCEL">
<!--     
 <input type="submit" form="mainForm" class="btn btn-info btn-fill btn-block" (click)="onJsonDetailedProcess()" value="PROCESS ELEPHANTINE DETAILED DATA">
 -->

    </form>


</div>

<!-- OFFLINE DB RECORDS VIEW -->
<div *ngIf="visibleTab === 'offlineDB'">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">TAG#</th>
        <th scope="col">DATE</th>
        <th scope="col">PROCESSED BY</th>
        <th scope="col">Basic Records</th>
        <th scope="col">Detailed Records</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of offlineDBRecords">
        <th scope="row">{{record.tagNumber}}</th>
        <td>{{record.dueDate}}</td>
        <td>{{record.processedBy}}</td>
        <td>{{record.basicRecords ? record.basicRecords.length : 0 }}</td>
        <td>{{record.detailedRecords ? record.detailedRecords.length : 0 }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="onDBedit(record)" style="background-color: #1dc7ea; color: white; border: none; width: 70px !important">EDIT</button>
            <button type="button" class="btn btn-danger" (click)="onDBdelete(record)"  style="background-color: #ff1b1b; color: white; border: none;">DELETE</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ONLINE DB RECORDS VIEW -->
<div *ngIf="visibleTab === 'onlineDB'">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">TAG#</th>
        <th scope="col">DATE</th>
        <th scope="col">PROCESSED BY</th>
        <th scope="col">Basic Records</th>
        <th scope="col">Detailed Records</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of onlineDBRecords">
        <th scope="row">{{record.tagNumber}}</th>
        <td>{{record.dueDate}}</td>
        <td>{{record.processedBy}}</td>
        <td>{{record.basicCount }}</td>
        <td>{{record.detailedCount }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="onDBOnlineEdit(record)">EDIT</button>
            <button type="button" class="btn btn-danger" (click)="onDelete(record)">DELETE</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Kendo Dialog for Deleting -->
<div class="example-wrapper">
  <kendo-dialog title="Please confirm" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
      <p style="margin: 30px; text-align: center;">Are you sure you want to delete this record?</p>

      <p style="margin: 30px; text-align: center;">Tag Number: {{recordToDelete.tagNumber}}</p>

      <kendo-dialog-actions>
          <button kendoButton (click)="close('no')">No</button>
          <button kendoButton (click)="close('yes')" primary="true">Yes</button>
      </kendo-dialog-actions>
  </kendo-dialog>
</div>