
<!-- TOP CONTROLS, TOGGLE BETWEEN INPUT AND DB VIEW -->
<div>
  <div class="btn-group btn-group-justified" style="padding-bottom: 10px;">
    <a class="btn btn-primary" (click)="toggleScreens('input')" [ngClass]="{'active-btn': visibleTab === 'input'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">INPUT</a>
    <a class="btn btn-primary" (click)="toggleScreens('offlineDB')" [ngClass]="{'active-btn': visibleTab === 'offlineDB'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">OFFLINE DB RECORDS</a>
    <a class="btn btn-primary" (click)="toggleScreens('onlineDB')" [ngClass]="{'active-btn': visibleTab === 'onlineDB'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">ONLINE DB RECORDS</a>
  </div>
</div>

<!-- FORM BODY -->
<div *ngIf="visibleTab === 'input'">
  <form id="mainForm">
      <!-- TAGNUMBER, DATE, ENTERED BY, PROCESSING TYPE FIELDS -->
      <div class="row container-fluid">
    
        <div class="form-group" [ngClass]="{'has-error': tagHasError}">
          <label for="tagNumber" style="font-size: 10px !important">Tag Number</label>
          <input 
            name="tagNumber"
            
            id="tagNumber"
            class='col-sm-12 col-xs-12 form-control' 
            type="text" 
            [value]="tagNumber" 
            (keypress)="restrictTagChars($event)"
            (keyup)="onTagChange($event)"
            required 
            maxlength="10"
            placeholder="44501A/a-1">
            <span class="help-block" *ngIf="tagHasError">Please correct the error</span>
        </div>
      
        <div class="form-group" style="padding-top: 25px;">
          <label for="date" style="font-size: 10px !important">Date</label>
          <input 
            id="date"
            autocomplete="on"
            name="date"
            class='col-sm-10 col-xs-10 form-control' 
            type="date" 
            [value]="dueDate" 
            [ngModel]="dueDate | date:'yyyy-MM-dd'"
            (change)="onDueDateChange($event)"
            required 
            placeholder="Due Date">
        </div>

        <div class="form-group" style="padding-top: 25px;">
          <label for="date" style="font-size: 10px !important">Deposit Date</label>
          <!-- <input 
            id="depositDate"
            autocomplete="on"
            name="date"
            class='col-sm-10 col-xs-10 form-control' 
            type="date" 
            [value]="depositDate" 
            [ngModel]="depositDate | date:'yyyy-MM-dd'"
            (change)="onDepositDateChange($event)"
            required 
            placeholder="Due Date"> -->

            <select class="form-control" id="sel2" (change)="onDepositDateChange($event)">
              <option [value]="option.value" *ngFor="let option of depositDateOptions" >{{option.name}}</option>
            </select>
            
        </div>
      
        <div class="form-group" style="margin-top: -15px;">
          <label for="processedby" style="font-size: 10px !important">Procesed By</label>
          <input 
          autocomplete="on"
          name="processedby"
          id="processedby"
          class='col-sm-12 col-xs-12 form-control' 
          type="text" 
          [value]="processedby" 
          (keyup)="onProcessedByChange($event)"
          required placeholder="Processed By">
        </div>
      
        <div class="form-group" style="padding-top: 25px;">
          <label for="sel1" style="font-size: 10px !important">Processing Type</label>
          <select class="form-control" id="sel1"  [value]="isBasicVisible ? 'basic' : 'detailed'" (change)="onProcessingTypeChange($event.target.value)">
            <option value="basic">Basic Processing</option>
            <option value="detailed">Detailed Processing</option>
          </select>
        </div>
    
      </div>
    
      <!-- FORM BODY FOR SUB-FORMS -->
      <div class="row" *ngIf="isFormBodyVisible" style="margin-top: -30px">
      
        <div *ngIf="isBasicVisible">
          <div style="text-align: center"><h4>Elephantine Basic Processing</h4></div>
          <app-basic-processing></app-basic-processing>
        </div>
    
        <div *ngIf="!isBasicVisible">
          <div style="text-align: center"><h4>Elephantine Detailed Processing</h4></div>
          <app-detailed-ele-processing></app-detailed-ele-processing>
        </div>
      
      </div>

            <!-- ON FORM SUBMIT BUTTON -->
    <input type="submit" form="mainForm"  [disabled]="!isElephantineFormValid" class="btn btn-info btn-fill btn-block" (click)="onFormSubmit()" [value]="buttonValue">




    <!-- ON FORM CANCEL BUTTON -->
    <input *ngIf="isEditing" type="button" form="mainForm"  class="btn btn-secondary btn-fill btn-block" (click)="onCancelEdit()" value="CANCEL">
    
    </form>


</div>

<!-- OFFLINE DB RECORDS VIEW -->
<div *ngIf="visibleTab === 'offlineDB'">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">TAG#</th>
        <th scope="col">DATE</th>
        <th scope="col">PROCESSED BY</th>
        <th scope="col">Basic Records</th>
        <th scope="col">Detailed Records</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of offlineDBRecords">
        <th scope="row">{{record.tagNumber}}</th>
        <td>{{record.dueDate}}</td>
        <td>{{record.processedBy}}</td>
        <td>{{record.basicRecords ? record.basicRecords.length : 0 }}</td>
        <td>{{record.detailedRecords ? record.detailedRecords.length : 0 }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="onDBedit(record)" style="background-color: #1dc7ea; color: white; border: none; width: 70px !important">EDIT</button>
            <button type="button" class="btn btn-danger" (click)="onDBdelete(record)"  style="background-color: #ff1b1b; color: white; border: none;">DELETE</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ONLINE DB RECORDS VIEW -->
<div *ngIf="visibleTab === 'onlineDB'">
  <!-- <div style="width: 100%">
        <mat-form-field style="width: 100%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        
        <table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
  
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
        

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        

          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
        

          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div> -->
  
<!-- 
    <div class="form-group" style="height: 55px;">
      <label for="tagNumber" style="font-size: 10px !important">Search Tag Number</label>
      <input 
        name="tagNumber"
        id="tagNumber"
        class='col-sm-12 col-xs-12 form-control' 
        type="text" 
        (keyup)="onTagSearch($event)"
        placeholder="D09.1-007-12.12">
    </div>

    <div style="margin-top: 5px; margin-bottom: 10px;">
      <button class="btn btn-default" style="width: 100%; border: 2px solid green; color: green;" (click)="onExportToExcel($event)">EXPORT TO EXCEL</button>
    </div> -->


  <table class="table">
    <thead>
      <tr>
        <th scope="col">TAG#</th>
        <th scope="col">DATE</th>
        <th scope="col">PROCESSED BY</th>
        <th scope="col">Basic Records</th>
        <th scope="col">Detailed Records</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of onlineDBRecords">
        <th scope="row">{{record.tagNumber}}</th>
        <td>{{record.dueDate}}</td>
        <td>{{record.processedBy}}</td>
        <td>{{record.basicCount }}</td>
        <td>{{record.detailedCount }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="onDBOnlineEdit(record)">EDIT</button>
            <button type="button" class="btn btn-danger" (click)="onDelete(record)">DELETE</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Kendo Dialog for Deleting -->
<div class="example-wrapper">
  <kendo-dialog title="Please confirm" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
      <p style="margin: 30px; text-align: center;">Are you sure you want to delete this record?</p>

      <p style="margin: 30px; text-align: center;">Tag Number: {{recordToDelete.tagNumber}}</p>

      <kendo-dialog-actions>
          <button kendoButton (click)="close('no')">No</button>
          <button kendoButton (click)="close('yes')" primary="true">Yes</button>
      </kendo-dialog-actions>
  </kendo-dialog>
</div>