
<mat-toolbar>
        <div class="col-md-6">
            <mat-form-field>
                <mat-select [(value)]="selection">
                    <mat-option *ngFor="let form of forms; let i = index" [value]="form">
                        {{forms[i]}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="col-md-6">
            <div style="float: right" *ngIf="selection === 'KHPP'">
                    <!-- <span><button mat-icon-button><mat-icon>edit</mat-icon></button></span>
                    <span><button mat-icon-button><mat-icon>undo</mat-icon></button></span>
                    <span><button mat-icon-button (click)="save()"><mat-icon>save</mat-icon></button></span> -->
                    <span ><button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                            <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="save()" [disabled]="!isOnline">
                                <mat-icon>unarchive</mat-icon>
                                <span >Save <b>{{completedForms.length}}</b> Records to DB</span>
                            </button>
                            <button mat-menu-item (click)="deleteOfflineDB()">
                                <mat-icon>delete_forever</mat-icon>
                                <span>Clear Offline DB</span>
                            </button>
                        </mat-menu>
                    </span>
            </div>
            <div style="float: right" *ngIf="selection === 'Elephantine'">
                    <!-- <span><button mat-icon-button><mat-icon>edit</mat-icon></button></span>
                    <span><button mat-icon-button><mat-icon>undo</mat-icon></button></span>
                    <span><button mat-icon-button (click)="save()"><mat-icon>save</mat-icon></button></span> -->
                    <span ><button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                            <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="save()" [disabled]="!isOnline">
                                <mat-icon>unarchive</mat-icon>
                                <span >Save <b>{{completedCeramics.length}}</b> Records to DB</span>
                            </button>
                            <button mat-menu-item (click)="deleteOfflineDB()" disabled="true">
                                <mat-icon>delete_forever</mat-icon>
                                <span>Clear Offline DB</span>
                            </button>
                        </mat-menu>
                    </span>
            </div>
        </div>
</mat-toolbar>


<div class="main-content">
    <div class="container-fluid">
        <app-rednotebook-form *ngIf="selection === 'Red Notebook'"></app-rednotebook-form>
        <app-khpp-form *ngIf="selection === 'KHPP'"> </app-khpp-form>
        <app-elephantine *ngIf="selection === 'Elephantine'"></app-elephantine>
    </div>
</div> 

