agm-map {
       /* height: 400px; */
       margin-top:60px;
       height: 95%; 
       width: 100%; 
       position: absolute;
       top: 18px;
       left: 0px;
       bottom: 0px;
       background-color: rgb(255, 255, 255);
   }
   
   .dialog-details-container {
     border: 1px solid red;
     height: 400px;
   }