<div class="main-content">
    <div class="container-fluid">
            <div class="dropdown" style="padding-bottom: 2%">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selection}}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li *ngFor="let form of forms; let i = index" (click)=onFormSelect(forms[i])><a >{{form}}</a></li>
                    </ul>
                  </div>
       <app-table-grid [data]="data" type="Red Notebook" *ngIf="selection === 'Red Notebook'"></app-table-grid>
       <app-table-grid [data]="data" type="Elephantine" *ngIf="selection === 'Elephantine'"></app-table-grid>
    </div>
</div>
