<div class="main-content">
    <div class="container-fluid">

      <!-- AG Map -->
      <agm-map 
      *ngIf="isMapVisible"
      [zoom]="18" 
      [maxZoom]="25"
      [longitude]="markers[0].lng" 
      [latitude]="markers[0].lat" 
      [fullscreenControl]="true"
      [mapTypeControl]="true"
      [styles]="mapStyles">
        <agm-marker-cluster [minimumClusterSize]="2" [maxZoom]="20" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
          <agm-marker 
              *ngFor="let marker of markers; let i = index" 
              [latitude]="marker.lat" 
              [longitude]="marker.lng" 
              [draggable]="true"></agm-marker>
        </agm-marker-cluster>
      </agm-map>

      <!-- Form Selector -->
      <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <mat-select placeholder="Data Set">
                    <mat-option *ngFor="let form of forms; let i = index" [value]="selection" (click)="onFormSelect(forms[i])">
                      {{forms[i]}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-6">
          <div style="float: right;">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>save_alt</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>Export to PDF</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>sort</mat-icon>
                    <span>Export to PDF</span>
                  </button>
                </mat-menu>
          </div>
        </div>
      </div>

      <!-- Two Grid Forms -->
      <app-table-grid [data]="data" type="Red Notebook" *ngIf="selection === 'Red Notebook'" [tableHeight]="tableHeight"></app-table-grid>
      <app-table-grid [data]="data" type="Elephantine" *ngIf="selection === 'Elephantine'" [tableHeight]="tableHeight"></app-table-grid>

    </div>
</div>
