<div class="grid-container">

    <!-- Elephantine -->
    <kendo-grid
    #grid="kendoGrid"
    *ngIf="type === 'Elephantine'"
    [kendoGridBinding]="data"
    [pageSize]="100"
    [pageable]="true"
    [sortable]="true"
    [filterable]="true"
    [height]="tableHeight"
    [columnMenu]="true"
    [kendoGridSelectBy]="'id'"
    [selectedKeys]="mySelection"
    [kendoGridSelectBy]="'id'"
    [selectedKeys]="mySelection"
    (selectedKeysChange)="onSelectedKeysChange($event)"
    [selectable]="{enabled: true, checkboxOnly: true }">

    <kendo-grid-column [hidden]="true" field="id" title="ID"></kendo-grid-column>
    <kendo-grid-column field="locusNum" title="Locus Number" [width]="130" ></kendo-grid-column>
    <kendo-grid-column field="objectGroupNum" title="Object Group Num" [width]="120"></kendo-grid-column>
    <kendo-grid-column filter="numeric" field="objectNum" [width]="120" title="Object Num"></kendo-grid-column>
    <kendo-grid-column field="typeNum" title="Type Num" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="Category.comments" title="Comments" ></kendo-grid-column>

    <!-- Controls -->
    <kendo-grid-checkbox-column title="Map Options" >
        <ng-template kendoGridHeaderTemplate>
            <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox
                    [state]="selectAllState"
                    (selectAllChange)="onSelectAllChange($event)">
             <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
        </ng-template>
    </kendo-grid-checkbox-column>

    <!-- Rest of the stuff -->
    <kendo-grid-column [hidden]="true" filter="numeric" field="diameter" title="Diameter"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="fabric" title="Fabric"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="numberOfObjects" title="Number of Objects"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="typeNum" title="Type Num"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="weight" title="Weight"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.application" title="Application"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.blackened" title="Blackened"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.comments" title="Comments"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.enteredBy" title="Entered By"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="date" format="{0:d}"  field="Category.enteredDate" title="Entered Date"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.incisedDecoration" title="Incised Decoration"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.paintedDecoration" title="Painted Decoration"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.photo" title="Photo"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.preservations" title="Preservations"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.processedBy" title="Processed By"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="date" format="{0:d}"  field="Category.processedDate" title="Processed Date"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.rlNum" title="RL Num"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.sfCoating" title="SF Coating"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.sfTreatment" title="SF Treatment"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.sheetNum" title="Sheet Num"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" field="Category.typeDescription" title="Type Description"></kendo-grid-column>

        <ng-template kendoGridDetailTemplate let-dataItem>
            <section *ngIf="dataItem.Category">
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
            </section>
        </ng-template>

    </kendo-grid>

    <!-- Red Notebook -->
    <kendo-grid
    *ngIf="type === 'Red Notebook'"
    [kendoGridBinding]="data"
    [pageSize]="50"
    [pageable]="true"
    [sortable]="true"
    [filterable]="true"
    [height]="tableHeight"
    [columnMenu]="true"
    [selectable]="true">

    <kendo-grid-column field="locusNum" title="Locus Number" [width]="130" ></kendo-grid-column>
    <kendo-grid-column field="objectNum" title="Object Num" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="unitNum" title="Unit Num" [width]="120"></kendo-grid-column>
    <kendo-grid-column field="specialNotes" title="Special Notes" ></kendo-grid-column>

    <!-- Rest of it -->
    <!-- addition -->
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyCoarseCount" title="Body Coarse Count" [width]="130"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyCoarseWeight" title="Body Coarse Weight" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyFineCount" title="Body Fine Count" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyFineWeight" title="Body Fine Weight" [width]="120"></kendo-grid-column>

    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyMarlCount" title="Body Marl Count" [width]="130"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyMarlWeight" title="Body Marl Weight" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyMediumCount" title="Body Medium Count" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyMediumWeight" title="Body Medium Weight" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.bodyTotalCount" title="Body Total Count" [width]="130"></kendo-grid-column>

    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticCoarseCount" title="Diagnostic Coarse Count" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticCoarseWeight" title="Diagnostic Coarse Weight" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticFineCount" title="Diagnostic Fine Count" [width]="120"></kendo-grid-column>

    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticFineWeight" title="Diagnostic Fine Weight" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticMarlCount" title="Diagnostic Marl Count" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticMarlWeight" title="Diagnostic Marl Weight" [width]="120"></kendo-grid-column>

    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticMediumCount" title="Diagnostic Medium Count" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticMediumWeight" title="Diagnostic Medium Weight" [width]="120"></kendo-grid-column>
    <kendo-grid-column [hidden]="true" filter="numeric" field="Category.diagnosticTotalCount" title="Diagnostic Total Count" [width]="120"></kendo-grid-column>

    <kendo-grid-column [hidden]="true" filter="date" format="{0:d}" field="Category.dateOfEntry" title="Date of Entry" [width]="120" ></kendo-grid-column>
    

        <ng-template kendoGridDetailTemplate let-dataItem>
            <div *ngIf="dataItem.Category">
                <section>

                    <div class="col-md-6">
                        <div class="card">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>body</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr><td style="background-color: rgba(255, 0, 0, 0.253);">Corase Count</td><td>{{dataItem.Category?.bodyCoarseCount}}</td></tr>
                                    <tr><td style="background-color: rgba(255, 0, 0, 0.253);">Corase Weight</td><td>{{dataItem.Category?.bodyCoarseWeight}}</td></tr>
                                    <tr><td style="background-color: rgba(255, 217, 0, 0.253);">Fine Count</td><td>{{dataItem.Category?.bodyFineCount}}</td></tr>
                                    <tr><td style="background-color: rgba(255, 217, 0, 0.253);">Fine Weight</td><td>{{dataItem.Category?.bodyFineWeight}}</td></tr>  
                                    <tr><td style="background-color: rgba(30, 255, 0, 0.253);">Marl Count</td><td>{{dataItem.Category?.bodyMarlCount}}</td></tr>
                                    <tr><td style="background-color: rgba(30, 255, 0, 0.253);">Marl Weight</td><td>{{dataItem.Category?.bodyMarlWeight}}</td></tr>
                                    <tr><td style="background-color: rgba(0, 17, 255, 0.253);">Medium Count</td><td>{{dataItem.Category?.bodyMediumCount}}</td></tr> 
                                    <tr><td style="background-color: rgba(0, 17, 255, 0.253);">Medium Weight</td><td>{{dataItem.Category?.bodyMediumWeight}}</td></tr>                                    
                                    <tr><td><b>Body Total Count</b></td><td><b>{{dataItem.Category?.bodyTotalCount}}</b></td></tr>   
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th>Diagnostic</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr><td style="background-color: rgba(255, 0, 0, 0.253);">Corase Count</td><td>{{dataItem.Category?.diagnosticCoarseCount}}</td></tr>
                                    <tr><td style="background-color: rgba(255, 0, 0, 0.253);">Corase Weight</td><td>{{dataItem.Category?.diagnosticCoarseWeight}}</td></tr>
                                    <tr><td style="background-color: rgba(255, 217, 0, 0.253);">Fine Count</td><td>{{dataItem.Category?.diagnosticFineCount}}</td></tr>
                                    <tr><td style="background-color: rgba(255, 217, 0, 0.253);">Fine Weight</td><td>{{dataItem.Category?.diagnosticFineWeight}}</td></tr>  
                                    <tr><td style="background-color: rgba(30, 255, 0, 0.253);">Marl Count</td><td>{{dataItem.Category?.diagnosticMarlCount}}</td></tr>
                                    <tr><td style="background-color: rgba(30, 255, 0, 0.253);">Marl Weight</td><td>{{dataItem.Category?.diagnosticMarlWeight}}</td></tr>
                                    <tr><td style="background-color: rgba(0, 17, 255, 0.253);">Medium Count</td><td>{{dataItem.Category?.diagnosticMediumCount}}</td></tr> 
                                    <tr><td style="background-color: rgba(0, 17, 255, 0.253);">Medium Weight</td><td>{{dataItem.Category?.diagnosticMediumWeight}}</td></tr>                                    
                                    <tr><td><b>Diagnostic Total Count</b></td><td><b>{{dataItem.Category?.diagnosticTotalCount}}</b></td></tr>   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </ng-template>

        
    </kendo-grid>


</div>