<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="col-lg-6"></div> Template -->

        <!-- Filter Bar -->
        <div class="row filterBar blank ">
            <div class="col-lg-12 ">
                <app-dash-filterbar></app-dash-filterbar>
            </div>
        </div>








        <!-- 1nst row Of Visualizations -->
        <div class="secondaryDashboardRow row blank" style="padding-top: 5px;">
            <div class="col-md-4 col-lg-4">
                <app-materialcard color="#9b59b6" Title="Type Distribution" Content="panel3"> </app-materialcard>
            </div>
            <div class="col-md-4 col-lg-4">
                <app-materialcard  color="#9b59b6" Title="Proportion of Fabrics Ele" Content="panel4"> </app-materialcard>
            </div>
            <div class="col-md-4 col-lg-4">
                <app-materialcard color="#9b59b6" Title="Blackened" Content="panel7"> </app-materialcard>
            </div>
        </div>
        <div class="secondaryDashboardRow row blank">
            <div class="col-md-4 col-lg-4">
                <app-materialcard Title="KHPP VS Elephantine Surface Treatment" Content="panel8"> </app-materialcard>
            </div>
            <div class="col-md-4 col-lg-4">
                <app-materialcard color="#d35400" Title="KHPP Fabric" Content="panel9"> </app-materialcard>
            </div>
            <div class="col-md-4 col-lg-4">
                <app-materialcard color="#d35400" Title="KHPP Blackened" Content="panel10"> </app-materialcard>
            </div>
        </div>
    </div>