<kendo-chart (seriesHover)="onSeriesOver($event)">
      <kendo-chart-category-axis>
          <kendo-chart-category-axis-item [categories]="['Elephantine', 'KHPP']">
          </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-series>
        <kendo-chart-series-item type="bar" name="R Slip In" [gap]="2" [spacing]=".25" [data]="rSlipIn">
        </kendo-chart-series-item>
        <kendo-chart-series-item type="bar" name="R Slip Out" [data]="rSlipOut">
        </kendo-chart-series-item>
        <kendo-chart-series-item type="bar" name="R Slip Both" [data]="rSlipBoth">
        </kendo-chart-series-item>
        <kendo-chart-series-item type="bar" name="Cream Slip In" [data]="creamSlipIn">
        </kendo-chart-series-item>
        <kendo-chart-series-item type="bar" name="Cream Slip Out" [data]="creamSlipOut">
        </kendo-chart-series-item>
        <kendo-chart-series-item type="bar" name="Untreated" [data]="untreated">
        </kendo-chart-series-item>
      </kendo-chart-series>
      <kendo-chart-tooltip>
        <ng-template kendoChartSeriesTooltipTemplate let-category="category" format="0" let-value="value">
          {{ value  }} {{percentage | number: '1.0-0'}}%
        </ng-template>
      </kendo-chart-tooltip>
    </kendo-chart>