
<!-- TOP CONTROLS, TOGGLE BETWEEN INPUT AND DB VIEW -->
<div>
  <div class="btn-group btn-group-justified" style="padding-bottom: 10px;">
    <a class="btn btn-primary" (click)="toggleScreens('input')" [ngClass]="{'active-btn': visibleTab === 'input'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">INPUT</a>
    <a class="btn btn-primary" (click)="toggleScreens('offlineDB')" [ngClass]="{'active-btn': visibleTab === 'offlineDB'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">OFFLINE DB RECORDS</a>
    <a class="btn btn-primary" (click)="toggleScreens('onlineDB')" [ngClass]="{'active-btn': visibleTab === 'onlineDB'}" style="border: 1px solid white; background-color: #4b4b4b; color: white;">ONLINE DB RECORDS</a>
  </div>
</div>

<!-- FORM BODY -->
<div *ngIf="visibleTab === 'input'">
    <form id="mainForm">
        <!-- TAGNUMBER, DATE, ENTERED BY, PROCESSING TYPE FIELDS -->
        <div class="row container-fluid">
      
          <div class="form-group">
            <label for="tagNumber" style="font-size: 10px !important">Tag Number</label>
            <input 
              name="tagNumber"
              autocomplete="on"
              id="tagNumber"
              class='col-sm-12 col-xs-12 form-control' 
              type="text" 
              [value]="tagNumber" 
              (keyup)="onTagChange($event)"
              required maxlength="13"
              placeholder="Tag Number D09.1-007-1.1">
          </div>
        
          <div class="form-group" style="padding-top: 25px;">
            <label for="date" style="font-size: 10px !important">Date</label>
            <input 
              id="date"
              name="date"
              class='col-sm-12 col-xs-12 form-control' 
              type="date" 
              [value]="dueDate" 
              (change)="onDueDateChange($event)"
              required 
              placeholder="Due Date">
          </div>
        
          <div class="form-group" style="padding-top: 25px;">
            <label for="processedby" style="font-size: 10px !important">Procesed By</label>
            <input 
            autocomplete="on"
            name="processedby"
            id="processedby"
            class='col-sm-12 col-xs-12 form-control' 
            type="text" 
            [value]="processedby" 
            (keyup)="onProcessedByChange($event)"
            required placeholder="Processed By">
          </div>
        
          <div class="form-group" style="padding-top: 25px;">
            <label for="sel1" style="font-size: 10px !important">Processing Type</label>
            <select class="form-control" id="sel1"  [value]="isBasicVisible ? 'basic' : 'detailed'" (change)="onProcessingTypeChange($event.target.value)">
              <option value="basic">Basic Processing</option>
              <option value="detailed">Detailed Processing</option>
            </select>
          </div>
      
        </div>
      
        <!-- FORM BODY FOR SUB-FORMS -->
        <div class="row" *ngIf="isFormBodyVisible" style="margin-top: -30px">
        
          <div *ngIf="isBasicVisible">
            <div style="text-align: center"><h4>Basic Processing</h4></div>
            <app-body-processing></app-body-processing>
          </div>
      
          <div *ngIf="!isBasicVisible">
            <div style="text-align: center"><h4>Detailed Processing</h4></div>
            <app-detailed-processing></app-detailed-processing>
          </div>
        
        </div>

              <!-- ON FORM SUBMIT BUTTON -->
      <input type="submit" form="mainForm"  [disabled]="!isKhppFormValid" class="btn btn-info btn-fill btn-block" (click)="onFormSubmit()" [value]="buttonValue">

      <!-- ON FORM CANCEL BUTTON -->
      <input *ngIf="isEditing" type="button" form="mainForm"  class="btn btn-secondary btn-fill btn-block" (click)="onCancelEdit()" value="CANCEL">
      
      </form>


</div>

<!-- OFFLINE DB RECORDS VIEW -->
<div *ngIf="visibleTab === 'offlineDB'">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">TAG#</th>
        <th scope="col">DATE</th>
        <th scope="col">PROCESSED BY</th>
        <th scope="col">Basic Records</th>
        <th scope="col">Detailed Records</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of offlineDBRecords">
        <th scope="row">{{record.tagNumber}}</th>
        <td>{{record.dueDate}}</td>
        <td>{{record.processedBy}}</td>
        <td>{{record.basicRecords ? record.basicRecords.length : 0 }}</td>
        <td>{{record.detailedRecords ? record.detailedRecords.length : 0 }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" (click)="onDBedit(record)" style="background-color: #1dc7ea; color: white; border: none; width: 70px !important">EDIT</button>
            <button type="button" class="btn btn-danger" (click)="onDBdelete(record)"  style="background-color: #ff1b1b; color: white; border: none;">DELETE</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ONLINE DB RECORDS VIEW -->
<div *ngIf="visibleTab === 'onlineDB'">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">TAG#</th>
        <th scope="col">DATE</th>
        <th scope="col">PROCESSED BY</th>
        <th scope="col">Basic Records</th>
        <th scope="col">Detailed Records</th>
        <th scope="col">Command</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of onlineDBRecords">
        <th scope="row">{{record.tagNumber}}</th>
        <td>{{record.dueDate}}</td>
        <td>{{record.processedBy}}</td>
        <td>{{record.basicCount }}</td>
        <td>{{record.detailedCount }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" disabled="true">EDIT</button>
            <button type="button" class="btn btn-danger"  disabled="true">DELETE</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>