<input class='col-sm-12 col-md-4 col-lg-4' type="text" [value]="tagNumber" (keyup)="onTagChange($event)" required maxlength="13" placeholder="Tag Number D09.1-007-1.1">
<input class='col-sm-12 col-md-4 col-lg-4'  [value]="processedby" (keyup)="onProcessedByChange($event)" required placeholder="Processed By">
<input class='col-sm-12 col-md-4 col-lg-4' [value]="dueDate" (change)="onDueDateChange($event)" required placeholder="Due Date">

<h2>Coarse Triage Processing</h2>
<!-- Coarse Triage -->
<kendo-grid
name='grid1'
class="processingForm"
[data]="view"
[height]="533"
[pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
[pageable]="true" [sortable]="true"
(dataStateChange)="onBodyStateChange($event)"
(edit)="editHandler($event)" (cancel)="cancelHandler($event)"
(save)="saveHandler($event)" (remove)="removeHandler($event)"
(add)="addHandler($event)"
[navigable]="true"
>
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand>Add new</button>
</ng-template>
<kendo-grid-column field="FabricType" title="Fabric Type" width="150">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{fabric(dataItem.FabricType)?.FabricType}}
  </ng-template>
  <ng-template kendoGridEditTemplate
    let-dataItem="dataItem"
    let-column="column"
    let-formGroup="formGroup"
    >
    <kendo-dropdownlist
      #ddl="popupAnchor"
      popupAnchor
      [data]="fabrics"
      textField="FabricType"
      valueField="FabricType"
      [valuePrimitive]="true"
      (valueChange)="onFabricChange($event)"
    >
    </kendo-dropdownlist>
    <kendo-popup
        [anchor]="ddl.element"
        *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
       >
        <span class="k-icon k-i-warning"></span>
        Fabric Type is required
      </kendo-popup>
  </ng-template>
</kendo-grid-column>
<!-- <kendo-grid-column field="BodyOrDiagnostic" width="200" editor="string" title="Body Or Diagnostic"></kendo-grid-column> -->
<kendo-grid-column field="BodyOrDiagnostic" title="Body Or Diagnostic" width="150">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{bodyOrDiagnostic(dataItem.BodyOrDiagnostic)?.BD}}
  </ng-template>
  <ng-template kendoGridEditTemplate
    let-dataItem="dataItem"
    let-column="column"
    let-formGroup="formGroup"
   >
    <kendo-dropdownlist
      #ddl="popupAnchor"
      popupAnchor
      [data]="bodOrDiagnostic"
      textField="BD"
      valueField="BD"
      [valuePrimitive]="true"
      (valueChange)="onBodDiagnosticChange($event)"
    >
    </kendo-dropdownlist>
    <kendo-popup
        [anchor]="ddl.element"
        *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
       >
        <span class="k-icon k-i-warning"></span>
        Diagnostic Or Body is required
      </kendo-popup>
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="RimCount" width="200" editor="numeric" title="Rim Count"></kendo-grid-column>
<kendo-grid-column field="RimWeight" width="200" editor="numeric" title="Rim Weight"></kendo-grid-column>
<kendo-grid-column field="BaseCount" width="200" editor="numeric" title="Base Count"></kendo-grid-column>
<kendo-grid-column field="BaseWeight" width="200" editor="numeric" title="Base Weight"></kendo-grid-column>
<kendo-grid-column field="DecoratorCount" width="200" editor="numeric" title="Decorator Count"></kendo-grid-column>
<kendo-grid-column field="DecoratorWeight" width="200" editor="numeric" title="Decorator Weight"></kendo-grid-column>
<kendo-grid-column field="Comments" width="400" editor="string" title="Comments"></kendo-grid-column>

<kendo-grid-command-column title="command" width="220">
  <ng-template kendoGridCellTemplate let-formGroup="formGroup" let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
  </ng-template>
</kendo-grid-command-column>
</kendo-grid>
<h2>Body Sherds Processing</h2>
<!-- Ceramic Processing Body Sherd -->
<kendo-grid
class="processingForm"
name='grid2'
[data]="bodySherd"
[height]="533"
[pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
[pageable]="true" [sortable]="true"
(dataStateChange)="onStateChange($event)"
(edit)="editBodyHandler($event)" (cancel)="cancelBodyHandler($event)"
(save)="saveBodyHandler($event)" (remove)="removeBodyHandler($event)"
(add)="addBodyHandler($event)"
[navigable]="true"
>
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand>Add new</button>
</ng-template>

<kendo-grid-column field="FabricType" title="Fabric Type" width="150">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{bodyFabric(dataItem.FabricType)?.FabricType}}
  </ng-template>
  <ng-template kendoGridEditTemplate
    let-dataItem="dataItem"
    let-column="column"
    let-formGroup="bodySherdFormGroup"
    >
    <kendo-dropdownlist
      #ddl="popupAnchor"
      popupAnchor
      [data]="bodyFabrics"
      textField="FabricType"
      valueField="FabricType"
      [valuePrimitive]="true"
      (valueChange)="onBodyFabricChange($event)"
    >
    </kendo-dropdownlist>
    <kendo-popup
        [anchor]="ddl.element"
        *ngIf="bodySherdFormGroup.get(column.field).invalid && !(isNew && bodySherdFormGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
       >
        <span class="k-icon k-i-warning"></span>
        Fabric is required
      </kendo-popup>
  </ng-template>
</kendo-grid-column>

<!-- <kendo-grid-column field="BodyOrDiagnostic" width="200" editor="string" title="Body Or Diagnostic"></kendo-grid-column> -->
<kendo-grid-column field="SurfaceTreatment" title="Surface Treatment" width="150">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{surfaceTreatment(dataItem.SurfaceTreatment)?.ST}}
  </ng-template>
  <ng-template kendoGridEditTemplate
    let-dataItem="dataItem"
    let-column="column"
    let-formGroup="bodySherdFormGroup"
   >
    <kendo-dropdownlist
      #ddl="popupAnchor"
      popupAnchor
      [data]="stList"
      textField="ST"
      valueField="ST"
      [valuePrimitive]="true"
      (valueChange)="onBodySurfaceChange($event)"

    >
    </kendo-dropdownlist>
    <kendo-popup
        [anchor]="ddl.element"
        *ngIf="bodySherdFormGroup.get(column.field).invalid && !(isNew && bodySherdFormGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
       >
        <span class="k-icon k-i-warning"></span>
        Surface Treatment is required
      </kendo-popup>
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="Normal" width="200" editor="numeric" title="Normal"></kendo-grid-column>
<kendo-grid-column field="FireIn" width="200" editor="numeric" title="Fire In"></kendo-grid-column>
<kendo-grid-column field="FireOut" width="200" editor="numeric" title="Fire Out"></kendo-grid-column>
<kendo-grid-column field="FireBoth" width="200" editor="numeric" title="Fire Both"></kendo-grid-column>
<kendo-grid-column field="RimsTSTC" width="200" editor="numeric" title="Rims TSTC"></kendo-grid-column>
<kendo-grid-column field="Other" width="200" editor="text" title="Other"></kendo-grid-column>

<kendo-grid-command-column title="command" width="220">
  <ng-template kendoGridCellTemplate let-formGroup="bodySherdFormGroup" let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
  </ng-template>
</kendo-grid-command-column>
</kendo-grid>
<!-- Ceramic Processing Diagnostics -->
<h2>Body Sherds Processing</h2>
<h4>Comming Soon!</h4>

<button class="button" (click)="submitData($event)" >Submit</button>
