<kendo-grid
[data]="view"
[height]="533"
[pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
[pageable]="true" [sortable]="true"
(dataStateChange)="onStateChange($event)"
(edit)="editHandler($event)" (cancel)="cancelHandler($event)"
(save)="saveHandler($event)" (remove)="removeHandler($event)"
(add)="addHandler($event)"
[navigable]="true"
>
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand>Add new</button>
</ng-template>
<kendo-grid-column field="TagNumber" width="200" title="Tag Number"></kendo-grid-column>
<kendo-grid-column  field="ProcessedBy" width="200" editor="string" title="Processed By">
 
</kendo-grid-column>
<kendo-grid-column field="DueDate" width="200" editor="date" title="Due Date"></kendo-grid-column>
<!-- <kendo-grid-column field="type" width="200" editor="string" title="Type"></kendo-grid-column> -->
<kendo-grid-column field="FabricType" title="Fabric Type" width="150">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{fabric(dataItem.FabricID)?.FabricType}}
  </ng-template>
  <ng-template kendoGridEditTemplate
    let-dataItem="dataItem"
    let-column="column"
    let-formGroup="formGroup">
    <kendo-dropdownlist
      #ddl="popupAnchor"
      popupAnchor
      [data]="fabrics"
      textField="FabricType"
      valueField="FabricType"
      [(ngModel)]="chosenFabric"
      [valuePrimitive]="true"
      [formControl]="formGroup.get('FabricID')"
      (valueChange)="onFabricChange($event)"
    >
    </kendo-dropdownlist>
    <kendo-popup
        [anchor]="ddl.element"
        *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
       >
        <span class="k-icon k-i-warning"></span>
        Category is required
      </kendo-popup>
  </ng-template>
</kendo-grid-column>
<!-- <kendo-grid-column field="BodyOrDiagnostic" width="200" editor="string" title="Body Or Diagnostic"></kendo-grid-column> -->
<kendo-grid-column field="BodyOrDiagnostic" title="Body Or Diagnostic" width="150">
  <ng-template kendoGridCellTemplate let-dataItem>
    {{bodyOrDiagnostic(dataItem.bdID)?.BD}}
  </ng-template>
  <ng-template kendoGridEditTemplate
    let-dataItem="dataItem"
    let-column="column"
    let-formGroup="formGroup">
    <kendo-dropdownlist
      #ddl="popupAnchor"
      popupAnchor
      [data]="bodOrDiagnostic"
      textField="BD"
      [(ngModel)]="chosenBodyOrDiagnostic"
      valueField="bdID"
      [valuePrimitive]="true"
      [formControl]="formGroup.get('bdID')"
      (valueChange)="onBodDiagnosticChange($event)"

    >
    </kendo-dropdownlist>
    <kendo-popup
        [anchor]="ddl.element"
        *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
        popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
       >
        <span class="k-icon k-i-warning"></span>
        Category is required
      </kendo-popup>
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="RimCount" width="200" editor="numeric" title="Rim Count"></kendo-grid-column>
<kendo-grid-column field="RimWeight" width="200" editor="numeric" title="Rim Weight"></kendo-grid-column>
<kendo-grid-column field="BaseCount" width="200" editor="numeric" title="Base Count"></kendo-grid-column>
<kendo-grid-column field="BaseWeight" width="200" editor="numeric" title="Base Weight"></kendo-grid-column>
<kendo-grid-column field="DecoratorCount" width="200" editor="numeric" title="Decorator Count"></kendo-grid-column>
<kendo-grid-column field="DecoratorWeight" width="200" editor="numeric" title="Decorator Weight"></kendo-grid-column>
<kendo-grid-column field="Comments" width="400" editor="string" title="Comments"></kendo-grid-column>

<kendo-grid-command-column title="command" width="220">
  <ng-template kendoGridCellTemplate let-formGroup="formGroup" let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
  </ng-template>
</kendo-grid-command-column>
</kendo-grid>