<!-- <kendo-chart (seriesHover)="onSeriesOver($event)">
  <kendo-chart-series>
      <kendo-chart-series-item type="funnel" [data]="model" field="count" categoryField="stat" colorField="color">
          <kendo-chart-series-item-labels background="none" color="white" format="0">
          </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
  </kendo-chart-series>
  <kendo-chart-tooltip>
      <ng-template kendoChartSeriesTooltipTemplate let-category="category" format="0" let-value="value">
          <h4>{{category}} - {{ value }} : {{percent | number: '1.0-0'}}% </h4>
      </ng-template>
  </kendo-chart-tooltip>
  <kendo-chart-legend [visible]="true"></kendo-chart-legend>
</kendo-chart> -->


<kendo-chart (seriesHover)="onSeriesOver($event)">
    <kendo-chart-series>
      <kendo-chart-series-item
          type="column" [data]="model"
          field="count" categoryField="stat">
          <kendo-chart-series-item-labels background="none" color="white" format="0">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-tooltip>
        <ng-template kendoChartSeriesTooltipTemplate let-category="category" format="0" let-value="value">
            <h4>{{category}} - {{ value }} : {{percent | number: '1.0-0'}}% </h4>
        </ng-template>
    </kendo-chart-tooltip>
    <kendo-chart-legend [visible]="true"></kendo-chart-legend>
  </kendo-chart>