<div class="main-content" >
    <div class="container-fluid">
        <div>
                <app-filterbar></app-filterbar>
        </div>
        <!-- Primary Row showing the percentage of fabrics by count and weight -->
        <div class="primaryDashboardRow row blank">
            <div id='panel-1' class="col-lg-6"><app-materialcard [Data]="[panel1Data]" Title="Proportion of Fabrics" Content="panel1"> </app-materialcard>  </div>
            <div id='panel-2' class="col-lg-6"><app-materialcard Title="Blackened" Content="panel2"> </app-materialcard> </div>
        </div>
        <!-- Secondary row showing the percentage of fabrics that were blackened on
        the interior, exterior, none or both -->
        
 
        
        <div class="secondaryDashboardRow row blank">
                <div  id='panel-3' class="col-lg-6"> <app-materialcard Title="Type Distribution" Content="panel3"> </app-materialcard>   </div>
                <div  id='panel-4' class="col-lg-6"> <app-materialcard Title="Extra Card 1" Content="panel4"> </app-materialcard> </div>
                <!-- <div  id='panel-5'class="col-lg-3"> <app-materialcard Title="Null" Content="panel1"> </app-materialcard> </div>
                <div  id='panel-6' class="col-lg-3"> <app-materialcard Title="Interior / Exterior" Content="panel1"> </app-materialcard> </div> -->
        </div>
        <!-- Third Row showing the percentage of weight and count per type Descriptions  -->
   
        <div class="thirdDashboardRow row blank">
                <div id='panel-7' class="col-lg-7"> <app-materialcard Title="Extra Card 2" Content="panel7"> </app-materialcard> </div>
                <div id='panel-8'class="col-lg-5"> <app-materialcard Title="Extra Card 3" Content="panel8"> </app-materialcard> </div>
        </div>
    </div>
</div>

