<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="col-lg-6"></div> Template -->

        <!-- Filter Bar -->
        <div class="row filterBar blank ">
            <div class="col-lg-12 ">
                    <!-- <button class="fl-right" active='false' (click)="handleResetLocus()" mat-button>Reset to All</button> -->
                    <app-filterbar></app-filterbar>
            </div>
        </div>

        <!-- Primary Row for Map and Details -->
        <div class="row  primary blank">
            <div class="panel1 col-lg-5">
                <mat-card class="card1">
                    <mat-card-header class="header">
                        <mat-card-title>Map of Elephantine</mat-card-title> 
                    </mat-card-header>
                    <mat-card-content class='map '>
                        <div >
                            <app-maindashmap></app-maindashmap>
                        </div>
                    </mat-card-content>
              
                </mat-card></div>
                <div class="panel2 row col-lg-7">
                        <mat-card class="card2">
                            <mat-card-content class='details '>
                                <div >
                                        <app-detailspanel></app-detailspanel>

                                </div>
                                <div style="padding-top:16px">
                                        <!-- <app-table-grid [data]="data" type="Elephantine" [tableHeight]="350"></app-table-grid> -->
                                        <app-detailgrid [data]="data" type="Elephantine" [tableHeight]="350"></app-detailgrid>

                                </div>
                            </mat-card-content>
                      
                        </mat-card></div>
        
            <!-- <div class="col-lg-6">
                <app-materialcard Title="Details" Content="panel2"> </app-materialcard>
            </div> -->

        </div>
        


        

        <!-- 1st of Visualizations
        <div class="primaryDashboardRow row blank">
            <div  class="col-lg-6"><app-materialcard Title="Select a Locus Group" Content="panel1"> </app-materialcard>  </div>
            <div  class="col-lg-6"><app-materialcard Title="Details" Content="panel2"> </app-materialcard> </div>
        </div> -->
        <!-- 2nd row Of Visualizations -->
             <div class="secondaryDashboardRow row blank">
                <div   class="col-lg-4"> <app-materialcard Title="Type Distribution" Content="panel3"> </app-materialcard>   </div>
                <div   class="col-lg-4"> <app-materialcard Title="Proportion of Fabrics" Content="panel4"> </app-materialcard> </div>
                <div class="col-lg-4">
                        <app-materialcard Title="Blackened" Content="panel7"> </app-materialcard>
                </div>
    </div>
</div>